.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: gainsboro;
}

.menu-item {
    padding: 8px;
    text-transform: uppercase;
}