.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #514aac;
}

.menu-item {
    display: block;
    color: white;
    text-decoration: none;
    padding: 8px;
    text-transform: uppercase;
    background-color: #514aac;
    &:hover {
        background-color: lighten(#514aac, 20%);
    }
}