@import './shared.scss';

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: row-reverse;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 8px;
    padding-bottom: 0;
    font-family: 'Catamaran', serif;
    font-size: 18px;
    background-color: #00004f;
    position: relative;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100%; // background: url(./images/bubbles.png), linear-gradient(rgb(17, 128, 143) 0, #00003a 900px);
        background: linear-gradient(rgb(17, 128, 143) 0, #000063 900px);
        background-repeat: repeat;
        pointer-events: none;
    }

    @include small {
        padding: 0 16px;
        padding-bottom: 40px;
    }
}

#vignette {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    box-shadow: 0 0 200px rgba(0, 0, 0, 0.9) inset;
}

#container {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-basis: 80%;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    
    @include small {
        flex-grow: 1;
    }
}

#copyright {
    position: relative;
    text-align: center;
    flex-basis: 80%;
    height: 40px;
    color: white;
    font-size: 14px;

    &>a {
        color: white;
    }
}

.bubble {
    position: absolute;
    top: 80px;
    left: 10px;
    width: 60px;
    height: 60px;
    background-size: cover;
    background-image: url(./images/bubble.svg);
}

.bubble-2 {
    position: absolute;
    top: 150px;
    left: 10px;
    width: 60px;
    height: 60px;
    background-size: cover;
    background-image: url(./images/bubble-2.svg);
}