@import '../../../shared.scss';

.stories-container {
    display: flex;
    flex-wrap: wrap;
    background-color: $surface;
}

.story-image-container {
    display: block;
}

.story-image-crop {
    width: 236px;
    height: 236px;
    overflow: hidden;
}

.story-image {
    width: 236px;
    box-shadow: 0 0 2px $primary;
}

.story-image-caption {
    text-transform: uppercase;
    background-color: $primary;
    color: $on-primary;
    text-align: center;
    box-shadow: 0 0 2px $primary;
}
